*{  padding:0;
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 1%;
    width: 100%;
    background-color: #0f1111;
   color:white;
   display: flex;
   justify-content: space-evenly;

}
.navlogo{height: 50px;
width:100px;
align-items: center;}
.logo{background-image: url(Amazon.png);
background-size: cover;
height:1%;
width:100%;}
.border{
    border: 1.5px solid transparent;
}
.border:hover {border: 1.5px solid white;}
/**box2**/
.add-first{color: #cccccc;
    font-size: 0.85rem;
    margin-left: 20px;

}
.add-sec{
    font-size:1rem;
    margin-left: 3px;

}

.add-icon{
    display: flex;
    align-items: center;
}
/**box3**/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 50%;
    height: 3rem;
   border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.nav-search:hover{
    border: 2px solid rgb(182, 197, 206);
}
.search-select{
    background-color: #f3f3f3;
    width: 0.7rem;
    text-align: center;
   
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: gold;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
color: #0f1111;
}
/**box4**/
span{font-size: 0.7rem;
}
.nav.-sec{font-size: 0.85rem;
    font-weight: 700;
}
/**box6**/
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
/**panel**/
.panel{
    height:3rem;
    background-color: #222f3d;
    display: flex;
    color: white;
     align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 12px;
   
}
.panel-ops{
     width: 75%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
/**hero-sec**/
.hero-sec{
    background-image: url(Hero.jpg);
    height: 35rem;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: white;
    color: black;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    position: relative;
    width: 80%;
    margin-bottom: 25px;
    

}
a{
    color: #007185;

}
/**box-sec**/
.shop-sec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(255, 94, 0);
}
.box{
    
    height: 30%;
width: 23%;
background-color: white;
padding: 20px 0px 15px;
margin-top: 15px;
}

.box-img1{
    background-image:url(Shop\ for\ your\ home\ essentials.jpg);
    height:300px;
    background-size:cover;
    margin-top: 1rem;
    margin-bottom: 1rem;

    
}
.box-img2{
     background-image:url(Get\ your\ game\ on.jpg) ;
     height:300px;
     background-size: cover;
       margin-top: 1rem;
    margin-bottom: 1rem;
    
}
.box-img3{
     background-image:url(Fahion\ trends\ you\ like.jpg) ;
     height: 300px;
     background-size: cover;
       margin-top: 1rem;
    margin-bottom: 1rem;
    
    }
.box-img4{
     background-image: url(Refresh\ your\ space.jpg);
     height:300px;
     background-size:cover;
       margin-top: 1rem;
    margin-bottom: 1rem;
    
}
.box-content{
    margin-left: 10px;
    margin-right: 10px;
}
.box-content p{
    color: #007185;
}
.box-content p:hover{
    color: black;
}
footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 2rem;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 20rem;
    display: flex;
    justify-content: space-evenly;


}
ul{
    margin-top: 20px;

}
ul p{
    font-weight: 400;
}
ul a{display: block;
color: #dddddd;
font-size: 0.85rem;
margin-top: 10px;
}
.foot-panel3{
    background-color: #222f3d;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{background-image: url(Amazon.png);
background-size: cover;
height:50px;
width:100px;}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
   /** display: flex;
    justify-content: center;
    align-items: center;**/
   
}
.pages{
    font-size: 0.9rem;
    color: whitesmoke;
    text-align: center;
    justify-content: space-evenly;
    padding-top: 25px;
}
.copyright{
    font-size: 0.9rem;
    text-align: center;
    padding-top: 5px;
}